/* here we set margin padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* here our body section */
body{
    
    background-color: rgb(129, 129, 146);
    background: #224941 url(./img/bg.jpg) no-repeat center center/cover;
    display: flex;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color: white;
    font-size: 2.4rem;
}


/* navigation */
.navigation{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-around;
}



.navigation button{
    background: white;
    margin: 0 10px;
    padding: 10px;
    border: none;
    color: grey;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    transform: scale(1.2);
}


/* CONTAINER */
.container{
    background-color: white;
    display: flex;
    justify-content: center;
   border-radius: 10px;
    padding: 80px;
    box-shadow: 0 20px 20px 0 rgba(204, 26, 26, 0.6);
    position: relative;
    transition: 0.2s ease;
}

/* HERE OUR MOVIE SECTION */
.music-info{
    padding: 20px;
    text-align: center;
    opacity: 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    transform: translateY(0);
    width: calc(100% - 40px);
    

}



/* HERE OUR PROGRESS SECTION CLASS */

.progressContainer{
    margin: 22px;
    background-color: rgb(216, 216, 216);
    height: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.progress{
    height: 100%;
    width: 0%;
    background-color: red;
}




/* HERE OUR IMAGE CONTAINER */
.img-container{
    width: 110px;
    /* border: 1px solid black; */
    position: relative;
    z-index: 1;
}

.img-container::after{
    position: absolute;
    left: 50%;
    content: " ";
    background-color: blue;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: translate(-50%,0);
}

.img-container img{
    bottom: 0;
    left: 0;
    width: inherit;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}


/* .container.container.play  .music-info{
    opacity: 1;
    transform: translateY(-100%);
} */


.container.play .music-info{
    transform: translateY(-100%);
    opacity: 1;

}

.container.play  .img-container img{
    animation-play-state: running;
} 


 
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}



